* {
  margin: 0;
  max-width: 1200px;
}

nav > a:visited,
a:visited,
a:link {
  color: #f8f8f2;
  text-decoration: none;
}

.page-header {
  align-items: center;
  background-color: #44475a;
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
}

.page-header,
.page-footer {
  font-family: Gentium Plus, Nunito, Arial, Helvetica;
}

.welcome {
  text-align: right;
}

.title,
.welcome {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

body {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  background-color: #282a36;
  color: #f8f8f2;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

h2,
h3 {
  color: #ff79c6;
}


/* Navigation */
.site-navigation {
  overflow: hidden;
  background-color: #44475a;
  position: relative;
  max-width: 8ch;
  align-items: left;
}

.site-navigation a {
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Hide links in nav */
.site-navigation #navLinks {
    display: none;
}

.nav-link > a {
  padding: 5px;
}

.nav-links {
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
  padding: 0%;
}

.page-active > a {
  color: #50fa7b;
  border-left: 1px solid #50fa7b;
  border-right: 1px solid #50fa7b;
  border-radius: 3px;
}

/* End nav */

.article-heading {
  padding-bottom: 5px;
  padding-top: 5px;
}

.para {
  padding-top: 5px;
}
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  height: 40px;
  color: #bd93f9;
  position: fixed;
  bottom: 0;
}

.copyleft,
.copyleft > a {
  color: #ffb86c;
}

/*****************
Accordion boxes */
.accordion-boxes {
  display: flex;
  flex-direction: column;
}

.accordion-box {
  background-color: #bd93f9;
  color: #282a36;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding: 5px;
} 

.active, .accordion-box:hover {
  filter: brightness(75%);
  transition: 50ms;
}

.infobox {
  padding: 10px;
  display: none;
  background-color: #44475a;
  overflow: hidden;
}

.accordion-box:after {
  content: '\2771';
  font-size: 13px;
  color: #282a36;
  float: right;

}

.active:after {
  content: "\2770";
}
/*****************/

/****************
Contact Form */

.contact-links {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.contact-links > a {
}

.contact-form {
  margin: 15px;
}

label {
  font-weight: 600;
  padding-right: 2px;
}

#full-name,
#email,
#message {
  border-radius: 3px;
}

textarea
input {
  width: 100%;
  padding-left: 5px;
}

.name-container,
.email-container,
.message-container {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.button-container {
  padding-top: 10px;
}

button[type="reset"] {
  background: transparent;
  border: 0;
  text-decoration: underline; 
  color: #50fa7b;
  cursor: pointer;
}

button[type="submit"] {
  border: solid 1px #50fa7b;
  background: #50fa7b;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  filter: brightness(75%);
  transition: 50ms;
}


/*****************/


/* Hide the welcome element in the header when the screen gets too small. This is specific to the size of the welcome sentance. */
/* Change to min width - Find more things to change - Alined left on desktop->for mobile screen take up 100%-> tablet size, center with margin on left and right ; then do it to the desktoip size - Max 55 characters side to side(55ch would be that mana chars wide) */
@media (max-width: 550px) {
  .welcome {
    display: none;
  }
}

/* Adjust nav to a more desktop friendly layout. */
@media (min-width: 376px) {
  
  .icon {
    display: none;
  }

  .site-navigation #navLinks {
    display: flex;
  }

  .site-navigation {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding: 0%;
  }
  
  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-link > a {
    padding: 5px;
  }

  .page-active > a {
    color: #50fa7b;
    border-top: 1px solid #50fa7b;
    border-bottom: 1px solid #50fa7b;
    border-left: 0px;
    border-right: 0px;
    border-radius: 3px;
  }  

  /* mouse over link */
  a:hover,
  .copyleft > a:hover {
    color: #ff79c6;
    transition: 20ms;
  }
  
}


