* {
  margin: 0;
  max-width: 100%;
  border-radius: 3px;
}

*:hover {
  transition: 250ms;
}

nav > a:visited,
a:visited,
a:link {
  color: #f8f8f2;
  text-decoration: none;
}

.page-header {
  align-items: center;
  background-color: #44475a;
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
}

.page-header,
.page-footer {
  font-family: Gentium Plus, Nunito, Arial, Helvetica;
}

.welcome {
  display: none;
}

.title {
  margin-left: 0.3em;
}

body {
  background-color: #282a36;
  color: #f8f8f2;
  display: flex;
  flex-direction: column;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  padding: 10px;
}

h2,
h3 {
  color: #ff79c6;
}


/* Navigation */
.icon {
  font-size: 25px;
}

.site-navigation {
  align-items: left;
  background-color: #44475a;
  max-width: 8ch;
  overflow: hidden;
  position: relative;
}

.site-navigation a {
  display: block;
  font-size: 17px;
  text-decoration: none;
}

/* Hide links in nav */
.site-navigation #navLinks {
  display: none;
}

.nav-link > a {
  padding: 5px;
}

.nav-links {
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0%;
}

.page-active > a {
  border-left: 1px solid #50fa7b;
  border-right: 1px solid #50fa7b;
  color: #50fa7b;
}

/* End nav */

.article-heading {
  padding-bottom: 5px;
  padding-top: 5px;
}

.para {
  padding-top: 5px;
}

.page-footer {
  align-items: center;
  bottom: 0;
  color: #bd93f9;
  display: flex;
  flex-direction: column;
  height: 40px;
  padding-top: 20px;
  position: fixed;
  width: 100%;
}

.copyleft,
.copyleft > a {
  color: #ffb86c;
}

/*****************
Accordion boxes */
.accordion-boxes {
  display: flex;
  flex-direction: column;
}

.accordion-box {
  background-color: #bd93f9;
  border: none;
  border-radius: 0px;
  color: #282a36;
  cursor: pointer;
  outline: none;
  padding: 5px;
  text-align: left;
  transition: 0.4s;
  width: 100%;
} 

.active, 
.accordion-box:hover {
  filter: brightness(75%);
}

.infobox {
  background-color: #44475a;
  display: none;
  overflow: hidden;
  padding: 10px;
}

.accordion-box:after {
  color: #282a36;
  content: '\2771';
  float: right;
  font-size: 13px;
}

.active:after {
  content: "\2770";
}
/*****************/

/****************
Contact Form */

.contact-links {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.contact-form {
  margin: 15px;
}

label {
  font-weight: 600;
  padding-right: 2px;
}

.input-group input,
.input-group textarea,
.input-group select {
  padding: 4px 8px 4px 8px;
  border: solid 1px #ff79c6;
}

.name-container,
.email-container,
.message-container {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.button-container {
  padding-top: 10px;
}

button[type="reset"] {
  background: transparent;
  border: 0;
  color: #50fa7b;
  cursor: pointer;
  text-decoration: underline; 
}

button[type="reset"]:hover {
color: #ff79c6;
}

button[type="submit"] {
  background: #50fa7b;
  border: solid 1px #50fa7b;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #ff79c6;
  border: solid 1px #ff79c6;
}

#output {
  padding: 10px 0px 10px 0px;
}

.message-title {
  color: #ffb86c;
  padding-bottom: 2px;
}

.message {
  padding-left: 10px;
}

/*****************/
/* Adjust nav to a more tablet/desktop friendly layout. */
@media (min-width: 376px) {

  body,
  .page-footer { 
    max-width: 1080px; 
    margin: 0 auto; 
    float: none; 
  }

  .icon {
    display: none;
  }

  .site-navigation #navLinks {
    display: flex;
  }

  .site-navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 100%;
  }
  
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding: 0%;
  }
  
  .nav-link {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .nav-link > a {
    padding: 5px;
  }

  .page-active > a {
    color: #50fa7b;
    border-top: 1px solid #50fa7b;
    border-bottom: 1px solid #50fa7b;
    border-left: 0px;
    border-right: 0px;
  }  

  article {
    float: none;
    margin: 0 auto;
    max-width: 65ch; 
  }

  /* mouse over link */
  a:hover,
  .copyleft > a:hover {
    color: #ff79c6;
  }
  
}


/* Show the welcome element in the header when the screen gets big enough. This is specific to the size of the welcome sentance. */
@media (min-width: 550px) {
  .welcome {
    display: block;
    margin-right: 0.3em;
    text-align: right;
  }
}